* {
  margin: 0;
  padding: 0;
}

.answer{
  width:400px;
  height:300px;
  position:relative;
  margin:20px auto;
  background-color: aquamarine;
  overflow:hidden;
  padding: 50px;
}


.item {
  height: 100px;
  width: 100px;
  text-align: center;
  background-color: aqua;
  margin:0 auto; 
  position:absolute;
  transition:all ease 1s;
  
}

.item.card-0{ 
  display:block;
  z-index: 1000;
  transform:scale(1,1) translate(0,0) !important ;
}
.item.card-1{ 
  display:block;
  z-index: 100;
  transform:scale(.9,.9) translate(0,-20px) !important ;
}
.item.card-2{ 
  display:block;
  z-index: 10;
  transform:scale(.8,.8) translate(0,-40px) !important ;
}


.item.card-n{ 
  transform:translate(400px,0) scale(.6) rotateZ(90deg) !important; 
}


  

